.edge {
    stroke: var(--mantine-color-dark-8);
    transition: stroke 0.3s ease-in-out;

    &.selected {
        stroke: var(--mantine-color-dark-6);
        opacity: 1;
    }

    &.notSelected {
        opacity: 0.1;
    }
}

.invisible {
    opacity: 0;
}
