.container {
    --color-edges: var(--mantine-color-gray-5);
    --color-nodes: var(--mantine-color-gray-5);
    --color-nodes-stroke: var(--mantine-color-gray-2);
    --color-background: var(--mantine-color-body);
}

.node {
    cursor: pointer;

    &:active {
    }

    circle {
        &:hover {
        }
    }

    .nodeText {
        font-size: 18px;
        fill: var(--mantine-color-gray-2);
        pointer-events: none; // Important: Make text non-interactive
        font-family: Lato, sans-serif;
        font-weight: bold;
    }
}
