.container {
    --color-edges: var(--mantine-color-gray-5);
    --color-nodes: var(--mantine-color-gray-6);
    --color-nodes-stroke: var(--mantine-color-gray-2);
}

.nodeText {
    font-size: 24px;
    fill: var(--mantine-color-gray-2);
    pointer-events: none; // Important: Make text non-interactive
}
