@keyframes textIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes textOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.node {
    --color-nodes: var(--mantine-color-blue-9);
    --node-radius: 24;
    --node-radius-selected: 36;

    cursor: pointer;

    &:hover {
        circle {
            r: var(--node-radius-selected);
        }
    }

    &.unselected {
        circle {
            opacity: 0.25;
            transition:
                r 0.2s ease-in-out,
                opacity 0.2s ease-in-out,
                fill 0.2s ease-in-out;
        }

        .nodeText {
            opacity: 0.5;
            white-space: wrap;
            animation: textIn 0.2s ease-in-out forwards;
        }
    }

    &.selected {
        circle {
            opacity: 1;
            stroke: 1px solid var(--mantine-color-yellow-9);
            r: var(--node-radius-selected);
        }

        .nodeText {
            opacity: 1;
        }
    }

    &.hidden {
        opacity: .25;
    }

    circle {
        transition:
            r 0.2s ease-in-out,
            opacity 0.2s ease-in-out;
    }

    .nodeText {
        white-space: wrap;
        animation: textIn 0.2s ease-in-out forwards;
    }
}
