@keyframes textIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes textOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes pulsing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.node {
    --node-radius: 24;
    --node-radius-selected: 36;

    &.tag {
        --node-radius: 36;
        --node-radius-selected: 48;
    }

    cursor: pointer;

    circle {
        r: var(--node-radius);
    }

    &:hover {
        circle {
            r: var(--node-radius-selected);
        }
    }

    &.unselected {
        circle {
            opacity: 0.25;
            transition:
                r 0.2s ease-in-out,
                opacity 0.2s ease-in-out,
                fill 0.2s ease-in-out;
        }

        .nodeText {
            opacity: 0.5;
            white-space: wrap;
            animation: textIn 0.2s ease-in-out forwards;
        }
    }

    &.selected {
        circle {
            opacity: 1;
            stroke: 1px solid var(--mantine-color-yellow-7);
            r: var(--node-radius-selected);
        }

        .nodeText {
            opacity: 1;
        }
    }

    &.hidden {
        opacity: 0.25;
    }

    &.loading {
        circle {
            animation: pulsing 1s infinite;
        }
    }

    circle {
        transition:
            r 0.2s ease-in-out,
            opacity 0.2s ease-in-out;
    }

    .nodeText {
        white-space: wrap;
        animation: textIn 0.2s ease-in-out forwards;
    }
}

.idea {
    --color-nodes: var(--mantine-primary-color-5);
}

.tag {
    --color-nodes: var(--mantine-color-dark-1);
    stroke: var(--mantine-color-dark-7);
}

.task {
    --color-nodes: var(--mantine-color-green-6);
}

.rabbithole {
    --color-nodes: var(--mantine-color-red-8);
}

.source {
    --color-nodes: var(--mantine-color-dark-7);
}

.excerpt {
    --color-nodes: var(--mantine-color-dark-8);
}
