.collapseButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);
    transition: all 0.2s ease-in-out;

    &.opened {
        /* background-color: var(--mantine-color-dark-9); */
        border-radius: var(--mantine-radius-lg);
        padding: var(--mantine-spacing-xs);
        border: 1px solid var(--mantine-color-dark-7);
    }
}

.target {
    width: 100%;
}
