@use '@core/design/styles/mixins.scss' as *;

.myButton {
  position: relative;
  width: 56px;
  height: 44px;
  border-radius: var(--mantine-radius-xl);
  border: 1.5px solid var(--mantine-color-dark-8);
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.opened {
    background-color: var(--mantine-color-dark-1);
    color: var(--mantine-color-dark-9);
    z-index: var(--z-index-my-button);

    .userIcon {
      transform: translateY(-100%);
    }
    .xIcon {
      transform: translateY(0);
    }
  }

  &:hover {
    background-color: var(--mantine-color-dark-7);
  }
}

.iconContainer {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  color: var(--mantine-color-dark-1);
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.userIcon {
  transform: translateY(0);
}

.xIcon {
  transform: translateY(100%);
}

@keyframes overlayIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(4px) brightness(0.7);
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: var(--z-index-top-bar);
  animation: overlayIn 0.1s ease-in-out forwards;
}

@keyframes menuIn {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(50%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.menu {
  animation: menuIn 0.2s ease-out forwards;
  position: absolute;
  bottom: calc(var(--nav-bottom) + var(--navbar-height) + 10px);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
  left: var(--layout-spacing);
  right: var(--layout-spacing);
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
  background-color: var(--mantine-color-dark-8);
  padding: var(--mantine-spacing-xs);

  @include desktop {
    left: calc(var(--sidebar-width) + var(--layout-spacing));
    right: calc(var(--sidebar-width) + var(--layout-spacing));
    max-width: 40vw;
    margin-inline: auto;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);

  &.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .sectionHeader {
      grid-column: 1 / -1;
    }
  }
}

.sectionHeader {
  font-size: var(--mantine-font-size-xs);
  font-weight: bold;
  color: var(--mantine-color-dark-3);
  padding: 0 var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-xs);
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  background-color: var(--mantine-color-dark-9);
  color: var(--mantine-color-dark-1);
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: var(--mantine-radius-lg);

  &:hover {
    background-color: var(--mantine-color-dark-7);
  }

  &:active {
    transform: translateY(1px);
  }

  svg {
    position: relative;
    color: var(--mantine-color-dark-3);
  }

  &.logout {
    background-color: var(--mantine-color-red-9);
    color: var(--mantine-color-red-1);

    svg {
      color: var(--mantine-color-red-3);
    }

    &:hover {
      background-color: var(--mantine-color-red-8);
    }
  }
}
