# Server Config
PORT=3400
NODE_ENV=production # development, production
TOKEN_SECRET="generate-a-random-secret-here"

# App Settings
MAX_LM_PROMPT_SIZE=100000
MAX_USER_NOTES=500 # -1 for no restriction
VITE_MAX_USER_NOTES=$MAX_USER_NOTES

# Admin Config
DEFAULT_SUPERUSERS="janedoe@testxyz.com,johndoe@testxyz.com" # a comma-separated list of emails

# Database Config
DB_PROTOCOL=http
DB_HOST=surrealdb
DB_PORT=8000
DB_NAMESPACE="twig"
DB_DATABASE="twig"
DB_USER="twig"
DB_PASSWORD="secret"

# App Config
VITE_APP_ENV=development # development, production
VITE_SERVER_LOCATION="http://localhost:3400"
CLIENT_ORIGIN="http://localhost:5173"
VITE_DEPLOYED_URL="http://localhost:5173"

# Docker Config
USER_ID=... # Run `id -u` to find
GROUP_ID=... # Run `id -g` to find

# Third Party Config
## Google
EMBEDDINGS_PROVIDER=""
EMBEDDING_MODEL_NAME=""
GEMINI_API_KEY=""
GOOGLE_CREDENTIALS_LOCATION=""
GCP_PROJECT_ID=""
GCP_LOCATION=""
EMBEDDINGS_RPM_LIMIT="1000"

## Email
EMAIL_FROM=""
MAILBABY_API_KEY=""
MAILBABY_API_URL=""

## AWS
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_REGION=""
S3_BUCKET=""

# Server Config
PORT=3024
NODE_ENV=development # development, production
TOKEN_SECRET="generate-a-random-secret-here"

# Admin Config
DEFAULT_SUPERUSERS="aidantilgner02@gmail.com" # a comma-separated list of emails

# Database Config
DB_PROTOCOL=http
DB_HOST=surrealdb
DB_PORT=8000
DB_NAMESPACE="twig"
DB_DATABASE="twig"
DB_USER="twig"
DB_PASSWORD="secret"
DB_HOST_CONNECTION="http://localhost:8000"

# App Config
VITE_APP_ENV="development"
VITE_SERVER_LOCATION="http://localhost:3024"
CLIENT_ORIGIN="http://localhost:5173"
VITE_DEPLOYED_URL="http://localhost:5173"

# Docker Config
USER_ID=501
GROUP_ID=20

# Third Party Config
## Google
EMBEDDINGS_PROVIDER="google"
EMBEDDING_MODEL_NAME="text-embedding-005"
GEMINI_API_KEY="YOUR_GEMINI_API_KEY_HERE"
GOOGLE_CREDENTIALS_LOCATION="./credentials/google-credentials.json"
GCP_PROJECT_ID="younio"
GCP_LOCATION=""
EMBEDDINGS_RPM_LIMIT="1000"

## Email
EMAIL_FROM="noreply-dev@qwest.so"
MAILBABY_API_KEY="YOUR_MAILBABY_API_KEY_HERE"
MAILBABY_API_URL="https://api.mailbaby.net"

## AWS
S3_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY_ID_HERE"
S3_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY_HERE"
S3_REGION="us-west-2"
S3_BUCKET="qwest-dev"
