# Server Config
PORT=3400
NODE_ENV=production # development, production
TOKEN_SECRET="this-is-a-super-secret-string"

# Admin Config
DEFAULT_SUPERUSERS="janedoe@testxyz.com,johndoe@testxyz.com" # a comma-separated list of emails

# Database Config
DB_PROTOCOL=http
DB_HOST=surrealdb
DB_PORT=8000
DB_NAMESPACE="twig"
DB_DATABASE="twig"
DB_USER="twig"
DB_PASSWORD="secret"

# Vite App Config
VITE_SERVER_LOCATION="http://localhost:3400"

# Docker Config
USER_ID=... # Run `id -u` to find
GROUP_ID=... # Run `id -g` to find

# Third Party Config
## Gemini
GEMINI_API_KEY=""

## Email
EMAIL_FROM=""
MAILBABY_API_KEY=""
MAILBABY_API_URL=""
