# Server Config
PORT=3400
NODE_ENV=production # development, production

# Database Config
DB_PROTOCOL=http
DB_HOST=surrealdb
DB_PORT=8000
DB_NAMESPACE="twig"
DB_DATABASE="twig"
DB_USER="twig"
DB_PASSWORD="secret"

# Vite App Config
VITE_SERVER_LOCATION="http://localhost:3400"

# Docker Config
USER_ID=... # Run `id -u` to find
GROUP_ID=... # Run `id -g` to find

# Third Party Config
GEMINI_API_KEY=""
