@keyframes viewerIn {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(0);
    }
}

.viewer {
    animation: viewerIn .5s ease-out forwards;
    position: relative;
    height: 100%;
    background-color: var(--mantine-color-dark-8);
    border-radius: var(--mantine-radius-md);
    box-shadow: inset var(--mantine-shadow-lg);
}

.toolbar {
    position: sticky;
    top: var(--layout-spacing);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: fit-content;

    background-color: var(--mantine-color-dark-9);
    border-radius: var(--mantine-radius-md);
    padding: var(--mantine-spacing-xs);
    box-shadow: var(--mantine-shadow-lg);
}

.viewportContainer {
    height: 100%;
    width: 100%;
}

.viewPort {
    /* The library component handles its own styling. We usually don't need much here. */
}

.page {
    outline: 1px solid red;
    margin: 0 auto var(--mantine-spacing-md) auto;
    width: 100%;
    box-shadow: var(--mantine-shadow-lg);
}
