@use "../../../styles/mixins.scss" as *;

.spotlightOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px) brightness(.75);
    z-index: 100;
    text-align: center;
    padding-top: 15vh;
}

@keyframes spotlightFadeIn {
    from {
        transform: translateY(-4px);
        opacity: .5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.spotlight {
    background-color: transparent;
    animation: spotlightFadeIn 0.1s ease-in forwards;

    .input {
        font-family: var(--mantine-font-family);
        /* font-stretch: 80%; */
        font-size: 22px;
        border-radius: var(--mantine-radius-lg);
        background-color: var(--mantine-color-dark-8);
        border: 1px solid var(--mantine-color-dark-3);
        /* border: none; */
        /* box-shadow: .2px .2px 24px 10px var(--mantine-primary-color-7); */
        padding: 14px 24px;
        min-width: 90vw;
        transition: all 0.2s ease-in-out;
        color: var(--mantine-color-dark-1);

        @include desktop {
            min-width: 50vw;
        }

        &:focus {
            outline: none;
        }
    }
}
