@use "../../../styles/mixins.scss" as *;

.spotlightOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px) brightness(0.45);
    z-index: 100;
    text-align: center;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    --spotlight-width: 80vw;

    @include desktop {
        --spotlight-width: 50vw;
    }
}

.tipText {
    margin-bottom: var(--mantine-spacing-xl);
    color: var(--mantine-color-body);
}

@keyframes spotlightFadeIn {
    from {
        transform: translateY(-4px);
        opacity: 0.5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.spotlight {
    background-color: transparent;
    animation: spotlightFadeIn 0.1s ease-in forwards;
    position: relative;

    .backButton {
        position: absolute;
        left: -36px;
        top: 4px;
        color: var(--mantine-color-white);
        padding: 8px 16px;
        border-radius: var(--mantine-radius-md);
        background-color: transparent;
        border: none;
        transition: all 0.2s ease-in-out;
        z-index: 105;
        font-size: 22px;
        padding: 8px 8px;

        &:focus {
            outline: none;
        }

        @include desktop {
            left: -48px;
        }
    }

    .input {
        font-family: var(--mantine-font-family);
        /* font-stretch: 80%; */
        font-size: 22px;
        border-radius: var(--mantine-radius-lg);
        background-color: var(--mantine-color-body);
        border: none;
        border: 1px solid var(--mantine-color-dark-6);
        box-shadow: 0.2px 0.2px 24px 5px var(--mantine-color-gray-6);
        padding: 8px 24px;
        width: var(--spotlight-width);
        transition: all 0.2s ease-in-out;
        color: var(--mantine-color-dark-1);
        z-index: 110;

        &:focus {
            outline: none;
        }
    }
}

.resultsContainer {
    margin-top: var(--mantine-spacing-xl);
    width: var(--spotlight-width);

    .results {
        text-align: left;
        background-color: var(--mantine-color-body);
        border-radius: var(--mantine-radius-md);
        overflow: hidden;

        .result {
            display: flex;
            gap: 14px;
            align-items: center;
            padding: 8px 14px;
            font-size: var(--mantine-font-size-lg);
            cursor: pointer;
            color: var(--mantine-color-text);

            .icon {
                position: relative;
                top: 2px;
            }

            &.active {
                color: var(--mantine-color-white);
                background-color: var(--mantine-primary-color-8);
            }
        }
    }

}
