@use "../../../styles/mixins.scss" as *;

.spotlightOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px) brightness(0.45);
    z-index: 300;
    text-align: center;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    --spotlight-width: 80vw;

    @include desktop {
        --spotlight-width: 50vw;
    }
}

.tipText {
    margin-bottom: var(--mantine-spacing-xl);
    color: var(--mantine-color-body);
}

@keyframes spotlightFadeIn {
    from {
        transform: translateY(-4px);
        opacity: 0.5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.spotlight {
    background-color: transparent;
    animation: spotlightFadeIn 0.1s ease-in forwards;
    position: relative;

    .backButton {
        position: absolute;
        left: -36px;
        top: 4px;
        color: var(--mantine-color-white);
        padding: 8px 16px;
        border-radius: var(--mantine-radius-md);
        background-color: transparent;
        border: none;
        transition: all 0.2s ease-in-out;
        z-index: 305;
        font-size: 22px;
        padding: 8px 8px;

        &:focus {
            outline: none;
        }

        @include desktop {
            left: -48px;
        }
    }

    .input {
        font-family: var(--mantine-font-family);
        /* font-stretch: 80%; */
        font-size: var(--mantine-font-size-lg);
        border-radius: var(--mantine-radius-lg);
        background-color: var(--mantine-color-body);
        border: none;
        border: 1px solid var(--mantine-color-dark-7);
        box-shadow: 0.2px 0.2px 24px 5px var(--mantine-color-dark-8);
        padding: var(--mantine-spacing-xs) var(--mantine-spacing-xl);
        width: var(--spotlight-width);
        transition: all 0.2s ease-in-out;
        color: var(--mantine-color-dark-2);
        z-index: 610;

        &:focus {
            outline: none;
        }
    }
}

.resultsContainer {
    margin-top: var(--mantine-spacing-xl);
    width: var(--spotlight-width);
    height: 50vh;
    overflow-y: scroll;
    scrollbar-width: none;

    .results {
        text-align: left;
        background-color: var(--mantine-color-body);
        border-radius: var(--mantine-radius-lg);
        overflow: hidden;

        .result {
            color: var(--mantine-color-text);

            .content {
                display: flex;
                gap: 14px;
                align-items: center;
                padding: 8px 14px 8px 14px;
                font-size: var(--mantine-font-size-lg);
                cursor: pointer;

                .icon {
                    position: relative;
                    top: 2px;
                }
            }

            .description {
                padding: 0px 14px 8px 14px;
                margin: 0;
                font-size: var(--mantine-font-size-xs);

                &[prefers-color-scheme="dark"] {
                    color: var(--mantine-color-dark-3);
                }

                &[prefers-color-scheme="light"] {
                    color: var(--mantine-color-dark-6);
                }
            }

            &.active {
                color: var(--mantine-color-white);
                background-color: var(--mantine-primary-color-8) !important;
            }

            &.hovering {
                color: var(--mantine-color-white);
                background-color: var(--mantine-primary-color-7);
            }
        }
    }
}

.parent {
    opacity: 0.75;
}

.noResults {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--mantine-color-body);
}
