@keyframes viewerIn {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(0);
  }
}

.viewer {
  height: 100%;
  animation: viewerIn 0.5s ease-out forwards;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: var(--mantine-color-dark-8);
  border-radius: var(--mantine-radius-md);
  box-shadow: inset var(--mantine-shadow-lg);
}

.viewportContainer {
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.viewPort {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page {
  background-color: var(--mantine-color-dark-1);
  margin: 0 auto;
  position: relative;

  /* 1. Prevent native DOM text selection from interfering with the WASM engine */
  user-select: none;

  img {
    /* 2. Stop the browser from treating the page like a draggable file */
    -webkit-user-drag: none;
    /* 3. Let mouse clicks pass through the image down to the interaction layer */
    pointer-events: none;
  }
}

/* Ensure the wrapper around the viewer also stretches */
.fileView {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  position: sticky;
  top: var(--layout-spacing);
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-low);
  width: fit-content;

  background-color: var(--mantine-color-dark-9);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-xs);
  box-shadow: var(--mantine-shadow-lg);

  display: flex;
  align-items: center;
  justify-content: center;

  .divider {
    width: 2px;
    background-color: var(--mantine-color-dark-7);
    height: 14px;
    border-radius: 20px;
    margin-inline: var(--mantine-spacing-md);
  }
}

.annotationMenu {
  background-color: var(--mantine-color-body);
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-dark-7);
  box-shadow: var(--mantine-shadow-lg);
  z-index: var(--z-index-pdf-viewer);
  min-width: 300px;
}
