@use "../../../styles/mixins.scss" as *;

:root {
    --content-space: calc(var(--layout-spacing));
}

@keyframes contentIn {
    0% {
        opacity: 0.25;
        transform: translateY(5px) scale(0.98);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.content {
    animation: contentIn 0.4s ease-out forwards;
    display: block;
    width: var(--content-width);
    padding-top: var(--mobile-bar-height);
    padding-inline: var(--content-space);
    box-sizing: border-box;
    transition:
        margin-left 0.2s ease-in-out,
        margin-right 0.2s ease-in-out;
    min-height: 100%;

    @include tablet {
        padding-top: var(--mantine-spacing-sm);
        margin-top: 0;
    }

    @include desktop {
    }
}

@keyframes leftOpened {
    0% {
    }
    100% {
    }
}

@keyframes leftClosed {
    0% {
    }
    100% {
    }
}

/* .leftOpen {
    @include tablet {
        margin-left: calc(var(--sidebar-width) + (var(--layout-spacing) * 2));
        overflow-x: hidden;
    }

    @include desktop {
        padding-left: var(--content-space);
        margin-left: 0;
    }
} */

/* .leftCollapsed {
    @include tablet {
        padding-left: calc(
            var(--sidebar-width-collapsed) + (var(--layout-spacing) * 2)
        );
    }

    @include desktop {
        padding-left: var(--content-space);
        margin-left: 0;
    }
} */

/* .rightOpen {
    @include tablet {
        margin-right: calc(var(--sidebar-width) + (var(--layout-spacing) * 2));
        overflow-x: hidden;
    }

    @include desktop {
        padding-right: var(--content-space);
        margin-right: 0;
    }
} */

/* .rightCollapsed {
    @include tablet {
        padding-right: calc(
            var(--sidebar-width-collapsed) + (var(--layout-spacing) * 2)
        );
    }

    @include desktop {
        padding-right: var(--content-space);
        margin-right: 0;
    }
} */
