@use "../../../styles/mixins.scss" as *;

.nav {
    position: fixed;
    bottom: var(--layout-spacing);
    left: var(--layout-spacing);
    right: var(--layout-spacing);
    display: flex;
    justify-content: center;
    z-index: 200;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--mantine-spacing-md);
    transition: transform 0.2s ease-in-out;

    &.hidden {
        transform: translateY(calc(100% + var(--layout-spacing)));
    }

    @include desktop {
        left: calc(var(--sidebar-width) + var(--layout-spacing));
        right: calc(var(--sidebar-width) + var(--layout-spacing));
        height: 40px;
    }
}

.options {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--mantine-spacing-sm);
    background-color: var(--mantine-color-dark-8);
    box-shadow:
        0px 1px 4px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px -3px rgba(0, 0, 0, 0.1);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-xl);
    border: 1px solid var(--mantine-color-dark-8);
    border: 1px solid var(--mantine-color-dark-7);
    padding: 8px var(--mantine-spacing-sm);

    @include tablet {
        width: fit-content;
    }

    @include desktop {
        width: fit-content;
        background-color: transparent;
        border-radius: var(--mantine-radius-lg);
        border-color: transparent;
        padding: 0;
    }
}

%button-base {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; // Needed for the ::after
    border-radius: var(--mantine-radius-xl);
    border: 1.5px solid transparent;
    background-color: transparent; // Inactive is just paper
    color: var(--mantine-color-dark-2);
    transition:
        all 0.3s ease-in-out,
        transform 0.2s ease-out;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    @include desktop {
        background-color: var(--mantine-color-dark-8);
    }
}

.action {
    @extend %button-base;
    width: 56px;
    border-color: var(--mantine-color-dark-8);

    &.active {
        background-color: var(--mantine-color-dark-9);
        /* box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1); */
        color: var(--mantine-color-dark-0);
        transform: scale(1);
        border-color: var(--mantine-color-dark-7);
    }

    &:hover {
        background-color: var(--mantine-color-dark-8);

        @include desktop {
            transform: scale(1.01) translateY(-2px);
        }
    }

    &:active {
        transform: scale(0.95) translateY(2px);
        background-color: var(--mantine-color-dark-7);
    }

    svg {
        z-index: 3;
    }
}
