@use "../../../styles/mixins.scss" as *;

.bottom {
    position: fixed;
    bottom: calc(var(--layout-spacing));
    max-width: var(--content-width);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    gap: var(--mantine-spacing-md);
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-lg);

    @include tablet {
        flex-direction: row;
    }
}

@keyframes messageIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message {
    animation: messageIn 0.3s ease-in-out;
    background-color: var(--mantine-color-body);
    box-shadow: var(--mantine-shadow-lg);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-lg);
    font-size: var(--mantine-font-size-sm);
    border: 1px solid var(--mantine-color-dark-8);

    @include tablet {
        padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
    }
}

.global {
    &.rabbitholeIndicatorWrapper {
    }
}

.content {
}
