.suggestionMenu {
    background-color: var(--button-bg);
    border-radius: var(--mantine-radius-lg);
    overflow: hidden;
    box-shadow: var(--mantine-shadow-sm);
    overflow-y: auto; // Add this line!
}

.item {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-sm);
    border: 1px solid var(--mantine-color-white);
    cursor: pointer;

    &.active, &:hover {
        background-color: var(--mantine-primary-color-8);
        color: var(--mantine-color-white);
    }

    & .label {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
