@use "../../styles/mixins.scss" as *;

.pageWrapper {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include tablet {
        flex-direction: row;
    }
}
