.inputContainer {
    display: flex;
    align-items: center;
    gap: 0;
    width: 100%;
    border: 1px solid var(--mantine-color-dark-7);
    border-radius: var(--mantine-radius-lg);
    transition: all 0.15s ease-in-out;
    background-color: var(--mantine-color-dark-9);
    color: var(--mantine-color-dark-1);

    &:focus-within {
        background-color: var(--mantine-color-dark-8);
        border-color: var(--mantine-color-blue-6);
        box-shadow: var(--mantine-shadow-sm);
    }

    .input {
        width: 100%;
        padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
        background-color: transparent;
        border: none;
        transition: all 0.15s ease-in-out;
        font-size: var(--mantine-font-size-sm);
        color: var(--mantine-color-dark-1);


        &::placeholder {
            color: var(--mantine-color-dark-4);
        }

        &:focus {
            outline: none;
        }
    }

    .icon {
        padding-left: var(--mantine-spacing-sm);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: var(--mantine-color-dark-3);
    }
}
