@keyframes buttonIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.paperIcon {
    cursor: pointer;
    animation: buttonIn 0.2s ease-in-out;
    background-color: var(--mantine-color-dark-8);
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mantine-color-dark-1);
    border: 1px solid transparent; // Use transparent for layout stability
    line-height: 0; // Helps center the icon
    transition:
        transform 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;

    &.withBorder {
        border-color: var(--mantine-color-dark-7);
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: var(--mantine-shadow-sm);
    }

    &:active {
        transform: scale(0.98) translateY(2px);
    }
}
