.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 700;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes loadingIn {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.loading {
    opacity: 1;
    animation: loadingIn 0.2s ease-in-out forwards;
}

@keyframes loadingOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    15% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        display: none;
    }
}

.gone {
    animation: loadingOut 0.2s ease-in-out forwards;
}

@keyframes contentIn {
    0% {
        opacity: 0;
        transform: scale(1.1) translateY(10px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.content {
    opacity: 0;
    animation: contentIn .5s ease-out forwards;
    animation-delay: .5s;
}
