@use "../../../styles/mixins.scss" as *;

@keyframes bubbleIn {
    0% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

.bubbleMenu {
    animation: bubbleIn 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: var(--layout-spacing);
    max-width: 100%;
    overflow-y: auto;

    @include desktop {
        width: fit-content;
        /* flex-direction: row; */
    }

    background-color: var(--mantine-color-dark-9);

    padding: var(--layout-spacing);
    border-radius: var(--mantine-radius-lg);
    border: 1px solid var(--mantine-color-dark-7);
    box-shadow: var(--mantine-shadow-xl);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--layout-spacing);
    flex-wrap: wrap;
    margin-inline: auto;
    flex-wrap: nowrap;

    @include desktop {
    }
}

.buttonGroup {
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    gap: var(--mantine-spacing-xs);
    padding: var(--layout-spacing);
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-dark-8);
}

/* @media (max-width: 480px) {
    .bubbleMenu {
        justify-content: center;
    }
} */
