.editor {
    height: fit-content;
    position: relative;
}

.droppingOver {
    border-radius: var(--mantine-radius-sm);
    overflow: hidden;
}

.tippyContent {
    display: block;
    height: 100%;
    position: relative;
}

.tippyEditor {
    height: 100%;

    &:focus {
        outline: none;
    }

    p.emptyEditor:first-child::before {
        color: var(--mantine-color-dimmed);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}

.divider {
    display: inline-block;
    height: 18px;
    width: 1.5px;
    margin-inline: 8px;
    background-color: var(--mantine-color-text);
}

.stickyMenu {
    position: sticky;
    top: calc(var(--topnav-height) + var(--navbar-height));
    z-index: var(--z-index-selection);
    background-color: var(--mantine-color-body);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    outline: 1px solid transparent;
    padding: 14px 0;

    @media screen and (min-width: 768px) {
        top: calc(var(--topnav-height) + 8px);
        border-radius: var(--border-radius-small);
    }

    &.navCollapsed {
        @media screen and (min-width: 768px) {
            top: 14px;
            border-radius: var(--border-radius-small);
        }
    }

    --sticky-offset: 14px;

    @media screen and (min-width: 1024px) {
        --sticky-offset: 36px;
    }
    &.stickyMenuFixed {
        box-sizing: border-box;

        @media screen and (min-width: 768px) {
            padding: 14px 14px;
            outline: 1px solid var(--mantine-color-default-border);
            margin-left: calc(-1 * var(--sticky-offset));
            margin-right: calc(-1 * var(--sticky-offset));
            left: initial;
            right: initial;
            width: calc(100% + (2 * var(--sticky-offset)));
        }
    }

    &.hidden {
        display: none;
    }
}
