.ProseMirror {
    -webkit-touch-callout: none;
}

.tiptap-mathematics-render {
}

/* This selector only selects editable math nodes */
.tiptap-mathematics-render--editable {
}

/** This selector only selects block math nodes */
.tiptap-mathematics-render[data-type="block-math"] {
    padding: var(--mantine-spacing-md);
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--mantine-color-dark-8); */
    border: 1px solid var(--mantine-color-dark-8);
    border-radius: var(--mantine-radius-md);
    font-size: var(--mantine-font-size-xl);

    &.ProseMirror-selectednode {
        outline: 2px solid var(--mantine-primary-color-7);
        outline-offset: 1px;
    }
}

/** This selector only selects inline math nodes */
.tiptap-mathematics-render[data-type="inline-math"] {
    padding: 2px 8px;
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-dark-8);

    &.ProseMirror-selectednode {
        outline: 2px solid var(--mantine-primary-color-7);
        outline-offset: 1px;
    }
}

.collaboration-carets__caret {
    /* The extension sets the 'color' property on this element to your var(...) */
    /* We use 'currentColor' to inherit it for the border */
    border-left: 1px solid currentColor;
    border-right: 1px solid currentColor;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
}

.collaboration-carets__label {
    border-radius: 3px 3px 3px 0;
    background-color: currentColor;
    color: var(--mantine-color-white);
    font-size: var(--mantine-font-size-sm);
    font-family: var(--mantine-font-family);
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
    z-index: 10;
}

.ProseMirror-yjs-selection {
    transition: background-color 0.2s ease;
    pointer-events: none;
    opacity: 1;
    background-color: rgb(from var(--mantine-color-blue-6) r g b / 0.25) !important;
}
