.constellation {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.floatingUI {
    position: absolute;
    z-index: var(--z-index-constellation);
    top: var(--layout-spacing);
    left: var(--layout-spacing);
    right: var(--layout-spacing);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
