.glance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.chart {
    padding-block: var(--mantine-spacing-sm);
}

.heatmap {
    padding-block: var(--mantine-spacing-sm);
}
