@use "../../styles/mixins.scss" as *;

.spyglass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    height: calc(100%);

    &.initialized {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        /* padding-block-start: var(--mantine-spacing-lg); */
        max-width: 100%;

        @include desktop {
            max-width: 70vw;
        }
        @include widescreen {
            max-width: 55vw;
        }
    }
}

.header {
    --mantine-h1-font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--mantine-spacing-md);
}

.textboxContainer {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    gap: var(--mantine-spacing-md);
    align-items: center;

    @include desktop {
    }

    @include widescreen {
        width: 80%;
        margin-inline: auto;
    }

    &.initialized {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: fit-content;
        width: 100%;
        flex-shrink: 0;

        @include desktop {
            bottom: calc(var(--layout-spacing) * 3);
        }

        @include widescreen {
            width: 100%;
            margin-inline: auto;
        }
    }
}

.scrollableContent {
    &.initialized {
        height: 100%;
        flex-grow: 1;
        overflow-y: auto;
        scrollbar-width: none;
        min-height: 0;
        padding-top: var(--mantine-spacing-md);
        padding-bottom: 20vh;
    }
}

@keyframes queryHeaderIn {
    0% {
        opacity: 0;
        transform: translateY(10vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.queryHeader {
    opacity: 0;
    animation: queryHeaderIn 0.2s ease-in-out forwards;
    font-family: var(--mantine-font-family-headings);
}

@keyframes previewIn {
    0% {
        opacity: 0.25;
        transform: translateY(-2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes previewHide {
    0% {
        opacity: 1;
        transform: translateY(0);
        gap: var(--mantine-spacing-xs);
    }
    99% {
        opacity: 0;
        height: 0;
        gap: 0;
    }
    100% {
        display: none;
    }
}

.preview {
    animation: previewIn 0.5s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);

    &.hide {
        animation: previewHide 0.2s ease-in-out forwards;
    }
}

@keyframes previewItemIn {
    0% {
        opacity: 0;
        transform: translateY(-2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.previewItem {
    animation: previewItemIn 0.5s ease-in-out;
}

.scopeWrapper {
    width: 100%;
    margin-inline: auto;
    background-color: var(--mantine-color-dark-8);
    padding: var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-lg);

    @include desktop {
        width: 50%;
    }
}
