.dreamImageWrapper {
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-dark-8);
    position: relative;
}

.dreamImage {
    border-radius: var(--mantine-radius-sm);
}

@keyframes resizeHandleAnimation {
    0% {
        border-width: 0;
    }
    100% {
        border-width: 2px;
    }
}

.resizeHandle {
    border: 2px solid var(--mantine-primary-color-7);
    border-radius: var(--mantine-radius-md);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: nwse-resize;
    z-index: var(--z-index-low);
    animation: resizeHandleAnimation .2s forwards;
}
