.dreamTaskWrapper {
    display: inline-flex;
    align-items: baseline;
    gap: 4px;
}

.dreamTaskInline {
    cursor: pointer;
    text-decoration: none;
    color: var(--mantine-primary-color-6);
    transition: color 0.2s ease-in-out;
    padding: 0;
    font-size: inherit;

    &:hover {
        color: var(--mantine-primary-color-6);
    }

    &[data-selected="true"] {
        outline: 2px solid var(--mantine-primary-color-7);
        outline-offset: 1px;
    }
}

.dreamTaskIcon {
    color: var(--mantine-color-dark-5);
    font-size: 12px;
    pointer-events: all;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &.hovered,
    &:hover {
        color: var(--mantine-color-green-5);
    }
}

.dreamTaskContent {
    color: inherit;
    padding: 0;

    &:hover {
        text-decoration: underline;
    }

    &:empty::before {
        content: attr(data-placeholder);

        color: var(--mantine-color-dimmed);
        font-style: italic;

        float: left;
        pointer-events: none;
    }
}
