.dreamIdeaInline {
    display: inline-flex;
    align-items: center;
    gap: 2px;

    box-shadow: var(--mantine-shadow-xs);
    padding: 0 2px;
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-dark-8);
    cursor: text;

    &[data-selected="true"] {
        outline: 2px solid var(--mantine-primary-color-7);
        outline-offset: 1px;
    }

}

.dreamIdeaContent {
    font-family: var(--mantine-font-family-headings);
    font-weight: 565;
    font-stretch: 90%;
    padding: 0 var(--layout-spacing) 0 0;

    &:empty::before {
        content: attr(data-placeholder);

        color: var(--mantine-color-dimmed);
        font-style: italic;

        float: left;
        pointer-events: none;
    }
}

.dreamIdeaIcon {
    color: var(--mantine-color-gray-6);
    font-size: var(--mantine-font-size-sm);
    pointer-events: all;
}
