.dreamIdeaInline {
    & .dreamIdeaTarget {
        display: inline-flex;
        align-items: center;
        gap: var(--mantine-spacing-xs);
        background-color: var(--mantine-color-body);
        box-shadow: var(--mantine-shadow-xs);
        padding: 2px var(--mantine-spacing-xs);
        border-radius: var(--mantine-radius-md);
        border: .5px solid var(--mantine-color-gray-9);
        cursor: pointer;
        font-family: var(--mantine-font-family-headings);
        font-weight: 565;
        font-stretch: 90%;
    }

    & .dreamIdeaIcon {
        color: var(--mantine-color-gray-6);
        font-size: var(--mantine-font-size-sm);
    }
}
