@use '@core/design/styles/mixins.scss' as *;

@keyframes tagIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.paperTag {
  position: relative;
  animation: tagIn 0.2s ease-in-out;
  background-color: var(--mantine-color-dark-8);
  border-radius: var(--mantine-radius-xl);

  // Layout logic for truncation
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--layout-spacing);
  flex: 0 1 auto;
  max-width: 100%;

  font-size: var(--mantine-font-size-sm);
  text-decoration: none;
  color: var(--mantine-color-dark-1);
  font-weight: 565;
  box-sizing: border-box;
  border: 1px solid transparent;
  width: auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
  margin: 6px 0;

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -2px;
    right: -2px;
  }

  // Ensure icon doesn't get squished
  .icon {
    flex-shrink: 0;
  }

  // Truncate text if too long
  .label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    text-align: left;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--mantine-shadow-sm);
    background-color: var(--mantine-color-dark-7);
    border-style: solid;
  }

  &:active {
    transform: scale(0.98) translateY(0px);
  }

  &.applied {
    background-color: var(--mantine-color-dark-8);
    border: 1px solid var(--mantine-color-dark-7);

    @include tablet {
      box-shadow: var(--mantine-shadow-md);
    }

    [data-mantine-color-scheme="dark"] & {
      color: var(--mantine-color-white);
    }
  }

  &.suggested {
    background-color: var(--mantine-color-dark-9);
    border-style: dashed;
    border-width: 2px;
    border-color: var(--mantine-color-dark-7);

    &:hover {
      background-color: var(--mantine-color-dark-7);
    }
  }

  &.display {
    background-color: var(--mantine-color-dark-9);
    border: 1px solid var(--mantine-color-dark-7);
    color: var(--mantine-color-dark-9);

    [data-mantine-color-scheme="dark"] & {
      color: var(--mantine-color-white);
    }
  }

  svg {
    color: var(--mantine-color-dark-4);
  }
}

.xs {
  padding: 4px var(--mantine-spacing-xs);
  font-size: var(--mantine-font-size-xs);

  svg {
    font-size: var(--mantine-font-size-xs);
  }
}
.sm {
}
.md {
  padding: 8px var(--mantine-spacing-xs);
  font-size: var(--mantine-font-size-sm);

  svg {
    font-size: var(--mantine-font-size-sm);
  }
}
.lg {
}
.xl {
}
