.ascii {
  pre {
    all: revert;
    border: none;
    outline: none;
    white-space: pre;
    font-family: "Geist Mono", monospace;
    line-height: 1;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
  }
}
