.edge {
  stroke: var(--mantine-color-text);
  transition: stroke 0.3s ease-in-out;

  &.selected {
    stroke: var(--mantine-color-text);
    opacity: 0.72;
  }

  &.notSelected {
    stroke: var(--mantine-color-text);
    opacity: 0.12;
  }
}

.invisible {
  opacity: 0;
}
