@use "../../styles/mixins.scss" as *;

.spyglass {
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    position: relative;

    &.initialized {
        height: auto;
        min-height: 100vh;
        justify-content: flex-start;
        @include desktop {
            max-width: 70vw;
            padding-block-start: var(--mantine-spacing-lg);
        }

        @include widescreen {
            max-width: 55vw;
        }
    }
}

.header {
    --mantine-h1-font-size: 56px;

    &.initialized {
    }
}

@keyframes overviewIn {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.overview {
    animation: overviewIn 0.5s ease-in-out;
}

.overviewDisplay {
    span[data-citation-id] {
    }
}

.textboxContainer {
    margin-inline: auto;
    width: 100%;
    height: 12vh;

    @include desktop {
        width: 60%;
    }

    &.initialized {
        height: fit-content;
        position: absolute;
        bottom: 24px;
        left: 0;
        right: 0;

        @include desktop {
            width: 100%;
        }
    }
}

@keyframes previewIn {
    0% {
        opacity: .25;
        transform: translateY(-2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.previewItem {
    animation: previewIn 0.5s ease-in-out;
}

@keyframes overviewIn {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.overviewText {
    animation: overviewIn 0.5s ease-in-out;
}
