/* Basic Suggestion List Styling */
.suggestionList {
    width: 200px;
    background-color: var(--mantine-color-dark-6);
}

.suggestionItem {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 2px solid var(--mantine-primary-color);
    background-color: var(--mantine-primary-color);
    color: var(--mantine-color-text);
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 4px 6px;

    &:hover {
        background-color: var(--mantine-primary-color-filled);
        color: var(--mantine-color-text);
    }
}
