.feedbackCard {
  background-color: var(--mantine-color-dark-9);
  border: 1px solid var(--mantine-color-dark-7);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  text-align: left;
  cursor: pointer;
  box-shadow: var(--mantine-shadow-sm);
  transition:
    box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  width: 100%;

  &:hover {
    box-shadow: var(--mantine-shadow-md);
    transform: translateY(-2px) scale(1.01);
  }

  &:active {
    transform: scale(0.98) translateY(2px);
  }
}
