.searchBar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md) !important;
    border-radius: var(--mantine-radius-lg);
    border: 1px solid var(--mantine-color-dark-7);
    transition: all 0.15s ease-in-out !important;

    &.focused {
        padding: var(--mantine-spacing-sm) var(--mantine-spacing-xs) !important;
        background-color: var(--mantine-color-dark-9) !important;
        border-color: var(--mantine-color-dark-7) !important;
        border-radius: var(--mantine-radius-md) !important;
    }
}

.wrapper {
    flex-grow: 1;
}

.indicator {
    padding-left: var(--mantine-spacing-sm);
}

.input {
    width: 100%;
    transition: all 0.15s ease-in-out !important;
    color: var(--mantine-color-dark-1);
    background-color: var(--mantine-color-dark-8) !important;
    border: none !important;
    scrollbar-width: none;
    padding: var(--layout-spacing) 0 !important;

    &.focused {
        padding: 0 !important;
        background-color: var(--mantine-color-dark-9) !important;
    }

    &.withinRabbithole {
        box-shadow: inset 0.2px 0.2px 2px 0 var(--mantine-color-yellow-5);
    }
}
