.searchBar {
    position: relative;
    width: 100%;
}

.input {
    border: 1px solid var(--mantine-color-dark-7) !important;

    &.withinRabbithole {
        border-color: var(--mantine-color-yellow-5) !important;
        box-shadow: inset 0.2px 0.2px 2px 0 var(--mantine-color-yellow-5);
    }
}
