@use '@core/design/styles/mixins.scss' as *;

.ui {
  background-color: transparent;
}

.searchWrapper {
  width: 100%;
  box-sizing: border-box;
  transition: width 0.2s ease-in-out;
}

.searchResults {
  width: 100%;
  overflow-x: scroll;
  padding: 0;
}
