@use "./styles/mixins.scss" as *;

.app {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    .ui {
        width: var(--sidebar-width);
    }

    .content {
        width: calc(100% - var(--sidebar-width));
    }
}
