@use "@core/design/styles/mixins.scss" as *;

.content {
  --content-space: calc(var(--layout-spacing));
  display: block;
  min-height: 100%;
  width: var(--content-width);
  padding-inline: var(--content-space);
  box-sizing: border-box;

  --top-padding: var(--total-top-offset);
  --bottom-padding: var(--total-bottom-offset);

  padding-top: var(--top-padding);
  padding-bottom: var(--bottom-padding);

  @include tablet {
    margin-top: 0;
  }

  @include desktop {
  }
}
