.rightSidebar {
    padding: 24px 24px;
    border-left: 1px solid var(--input-bd);
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--mantine-color-dark-9);
}

.opened {
    width: 30vw;
}

.closed {
    width: initial;
    padding: 8px;

    & > .content {
        display: none;
    }
}
